.ssod-site {
  background: var(--color-background);
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  padding-top: 0;
}

.ssod-site .global-header {
  flex: 0 0 auto;
  left: 0;
  position: sticky;
  top: calc(-1 * var(--header-height));
  width: 100%;
  z-index: 2;
}

.ssod-site .ssod-main {
  flex: 1 1 auto;
}

.ssod-side .ssod-footer {
  flex: 0 0 auto;
}

.admin-bar .ssod-site {
  padding-top: 32px;
}

/* -------------------------------------------------------------------------- */

.global-header {
  background-color: var(--color-brand);
  box-shadow: var(--shadow-1);
  display: flex;
  height: var(--header-height);
}

.global-header a {
  display: block;
}

.global-header img {
  height: var(--header-height);
  width: var(--header-height);
  padding: calc(var(--header-height) / 8);
}

.global-header--wrap {
  align-items: center;
  display: flex;
}

.global-header .ssod-search {
  margin-left: auto;
}

/* -------------------------------------------------------------------------- */

.festival-hero {
  background-clip: padding-box;
  background-image: var(--background-image-festival);
  background-repeat: repeat;
  position: relative;
  --blurb-max-width: 60rem;
}

.festival-hero__back {
  background-image: url('../img/sample-festival-splash.jpg');
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
  max-height: 50vh;
  min-height: 20rem;
  height: calc(100vw * 9/16);
}

.festival-hero__heading {
  bottom: 0;
  box-shadow: 0 -var(--space-2) var(--space-4) calc(-1 * var(--space-3)) black;
  color: hsl(var(--hsl-background));
  max-width: var(--blurb-max-width);
  position: absolute;
  width: 50vw;
}

.festival-hero__heading > h1 {
  background-color: hsla(var(--hsl-festival), 0.75);
  color: hsl(var(--hsl-festival-text));
  font-size: 4rem;
  font-weight: bold;
  padding: 2rem 2rem 1rem 2rem;
  text-shadow: 0 0 var(--space-3) #fff;
}

.festival-hero__heading a {
  color: inherit;
  display: block;
  text-decoration: inherit;
}

.festival-hero__content {
  display: flex;
}

.festival-hero__blurb {
  background-color: hsla(var(--hsl-background-text), 0.85);
  box-shadow: 0 var(--space-2) var(--space-4) calc(-1 * var(--space-3)) black;
  color: var(--color-text);
  flex: 0 0 50vw;
  font-size: 1.125rem;
  line-height: 1.625;
  max-width: var(--blurb-max-width);
  padding: var(--space-6) var(--space-6) var(--space-5) var(--space-6);
}

.festival-hero__links {
  flex: 1 1 auto;
  padding: var(--space-6) var(--space-6) var(--space-5) var(--space-6);
}

.festival-hero__links > ul {
  column-count: 2;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.festival-hero__links a {
  color: var(--color-festival-text);
  display: inline-block;
  font-family: var(--heading-font-family);
  font-size: 1.5rem;
  padding: .25rem 0 .25rem .75em;
  position: relative;
  text-decoration: none;
}

.festival-hero__links a::before {
  content: '•';
  left: 0;
  position: absolute;
}

.festival-hero__segue {
  background-color: var(--color-mood);
  margin-top: var(--space-7);
  padding: var(--space-7) 0;
}

.festival-hero__segue-text {
  color: var(--color-mood-dark);
  font-family: var(--heading-font-family);
  font-size: 1.5rem;
  text-align: center;
}

/* -------------------------------------------------------------------------- */

.hero {
  background-blend-mode: darken;
  background-color: var(--color-mood);
  background-image: url('../img/banner-bg.jpg');
  background-position: 100% 50%;
  background-size: 52vw auto;
  margin-bottom: calc(var(--space-7) * 2);
  padding: var(--space-6) 0;
}

.hero__layout {
  align-items: flex-start;
  display: flex;
}

.hero__layout > svg {
  flex: 0 1 20vw;
  max-width: 12rem;
  width: 20vw;
}

.hero__text {
  flex: 0 4 42vw;
}

.hero__text > h1 {
  color: var(--color-brand);
  font-size: 4rem;
  font-weight: bold;
  line-height: 1;
  padding: var(--space-5) var(--space-5) var(--space-5) var(--space-7);
  text-shadow:
    2px 2px var(--color-mood),
    2px -2px var(--color-mood),
    -2px 2px var(--color-mood),
    -2px -2px var(--color-mood);
}

.hero__blurb {
  color: var(--color-text);
  font-size: 1.125rem;
  line-height: 1.625;
  max-width: 60rem;
  padding: var(--space-5) var(--space-5) var(--space-5) var(--space-7);
}

.festival-hero + .hero {
  background-color: var(--color-brand);
  background-image: none;
}

.festival-hero + .hero .hero__layout > svg {
  filter: drop-shadow(0 0 .5rem var(--color-mood));
}

.festival-hero + .hero .hero__text > h1 {
  color: var(--color-mood);
  text-shadow: none;
}

.festival-hero + .hero .hero__blurb {
  color: var(--color-mood);
}

/* -------------------------------------------------------------------------- */

.singular {
  background-color: var(--color-background-text);
}

.singular::after {
  content: url('../img/logo-small.inverted.svg');
  display: block;
  height: 4rem;
  margin: 0 auto var(--space-7) auto;
  width: 4rem;
}

.singular__content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 60rem;
  padding: var(--space-7) var(--space-7) var(--space-6) var(--space-7);
}

.singular__header h1 {
  color: var(--color-brand);
  font-size: 4rem;
  letter-spacing: -.05em;
  line-height: 1;
  margin-bottom: var(--space-6);
  hyphens: auto;
}

.singular__meta {
  border-bottom: var(--space-3) solid var(--color-background);
  margin-left: calc(-1 * var(--space-7));
  margin-right: calc(-1 * var(--space-7));
  padding: var(--space-5) var(--space-7);
}

.singular__banner {
  align-items: center;
  align-self: center;
  display: flex;
  height: calc(100vw * .25);
  max-height: 50vh;
  overflow: hidden;
}

.singular__banner > img {
  width: 100%;
}

.singular__banner + .singular__body {
  margin-top: var(--space-6);
}

/* -------------------------------------------------------------------------- */

.singular--festival {
  background-clip: padding-box;
  background-image: var(--background-image-festival-subtle);
  background-repeat: repeat;
}

.singular--festival a {
  color: var(--color-festival-text);
}

.singular--festival .singular__header {
  text-align: center;
}

.singular--festival .singular__header h1 {
  color: var(--color-festival-text);
}

.singular--festival .singular__content {
  background-color: hsla(var(--hsl-background-text), .5);
}

.singular--festival .singular__meta {
  border-bottom-width: 0;
}

/* -------------------------------------------------------------------------- */

.ssod-listing {
  background-color: var(--color-background-text);
}

.ssod-listing__content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 60rem;
  padding: var(--space-7) var(--space-7) var(--space-6) var(--space-7);
}

.ssod-listing__header h1 {
  color: var(--color-brand);
  font-size: 4rem;
  hyphens: auto;
  letter-spacing: -.05em;
  line-height: 1;
  margin-bottom: var(--space-6);
  text-align: center;
}

.ssod-listing__header::after {
  content: url('../img/yarn-ball.svg');
  display: block;
  height: 4rem;
  margin: var(--space-7) auto var(--space-8) auto;
  width: 4rem;
}

/* -------------------------------------------------------------------------- */

.ssod-listing--festival {
  background-clip: padding-box;
  background-image: var(--background-image-festival-subtle);
  background-repeat: repeat;
}

.ssod-listing--festival a {
  color: var(--color-festival-text);
}

.ssod-listing--festival .ssod-listing__header {
  text-align: center;
}

.ssod-listing--festival .ssod-listing__header h1 {
  color: var(--color-festival-text);
}

.ssod-listing--festival .ssod-listing__content {
  background-color: hsla(var(--hsl-background-text), .5);
}

/* -------------------------------------------------------------------------- */

.festival-header {
  background-color: var(--color-festival);
  background-clip: padding-box;
  background-image: var(--background-image-festival);
  background-repeat: repeat;
  box-shadow: 0 var(--space-2) var(--space-4) var(--space-2) rgba(0, 0, 0, 0.125);
  color: var(--color-festival-text);
  padding: var(--space-5) 0;
  position: sticky;
  text-shadow:
    0 0 var(--space-3) #fff,
    0 0 var(--space-4) #fff,
    0 0 var(--space-5) #fff;
  top: 0;
  z-index: 2;
}

.festival-header_content {
  align-items: baseline;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 70rem;
  padding: 0 var(--space-7);
}

.festival-header h1 {
  font-size: 2rem;
}

.festival-header ul {
  font-family: var(--heading-font-family);
  font-size: 1.375rem;
  display: flex;
  margin: 0;
}

.festival-header li {
  margin-left: var(--space-5);
}

.festival-header a {
  text-decoration: none;
}

/* -------------------------------------------------------------------------- */

.body-text {
  font-size: 1.25rem;
  line-height: 1.75;
}

.body-text p {
  margin: 2em 0;
}

.body-text p img,
.body-text .wp-block-image img {
  border: var(--space-3) solid var(--color-mood);
  box-sizing: content-box;
  display: block;
  margin: var(--space-6) auto;
  max-height: 50vh;
  padding: var(--space-5);
  width: auto;
}

.body-text figcaption {
  font-size: 1.25rem;
}

/* -------------------------------------------------------------------------- */

.ssod-layout-clamp {
  --ssod-layout-padding: 5vw;
  margin: 0 auto;
  max-width: 100rem;
  padding: 0 var(--ssod-layout-padding);
  width: 100%;
}

.ssod-layout-clamp--content {
  max-width: 60rem;
  padding: 0 var(--space-7);
}

/* -------------------------------------------------------------------------- */

.ssod-layout-sidebar {
  align-items: start;
  display: grid;
  grid-gap: var(--space-7);
  /* grid-template-columns: [major] minmax(0, 2fr) [minor] minmax(0, 1fr); */
  grid-template-columns: minmax(0, 2fr) minmax(0, 2fr);
}

/* -------------------------------------------------------------------------- */

.ssod-front-sidebar {
  align-self: stretch;
  background-color: var(--color-background-text);
  border-top: var(--space-5) solid var(--color-brand);
  box-shadow: 0rem 0rem 2rem 0rem rgba(0, 0, 0, .25);
  margin-right: calc(-1 * var(--ssod-layout-padding));
  padding: var(--space-5) var(--space-6);
}

.ssod-front-sidebar h2 {
  color: var(--color-mood-dark);
  font-size: 2.5rem;
  padding: var(--space-4) 0 var(--space-7) 0;
  text-align: center;
}

/* -------------------------------------------------------------------------- */

.ssod-event-list {
  margin: 0;
  padding: 0;
}

.ssod-event-list li {
  display: block;
  margin-bottom: var(--space-7);
}

/* -------------------------------------------------------------------------- */

.ssod-event {
  align-items: baseline;
  display: flex;
}

.ssod-event .date {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  margin-right: var(--space-6);
}

.ssod-event .month {
  color: var(--color-brand);
  text-transform: uppercase;
}

.ssod-event h3 {
  font-size: 1.5rem;
}

.ssod-event a {
  text-decoration: none;
}

.ssod-event .overview {
  overflow: hidden;
}

.ssod-event .excerpt {
  color: var(--color-mood-dark);
  font-size: 1.25rem;
  line-height: 1.2;
  margin-top: var(--space-3);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* -------------------------------------------------------------------------- */

.ssod-post-summary {
  position: relative;
}

.ssod-post-summary + .ssod-post-summary {
  margin-top: calc(var(--space-7) * 2);
}

.ssod-post-summary h2 {
  font-size: 3rem;
  margin-bottom: var(--space-5);
  letter-spacing: -.075rem;
}

.ssod-post-summary h2 a {
  display: inline-block;
  position: relative;
  text-decoration: none;
  transition: all .4s;
}

.ssod-post-summary h2 a::before {
  content: '';
  display: block;
  height: 100%;
  left: -1rem;
  position: absolute;
  transition: all .4s;
  width: calc(100% + 2rem);
}

.ssod-post-summary h2 span {
  position: relative;
}

.ssod-post-summary h2 a:focus::before,
.ssod-post-summary h2 a:hover::before {
  background-color: var(--color-mood);
}

.ssod-post-summary .post-edit-link {
  background: var(--color-background-text);
  border-radius: var(--space-6);
  bottom: 0;
  box-shadow: var(--shadow-1);
  opacity: 0;
  padding: var(--space-5) var(--space-6);
  pointer-events: none;
  position: absolute;
  right: 0;
  transition: all .4s;
}

.post-edit-link:focus,
.ssod-post-summary:hover .post-edit-link {
  opacity: 1;
  pointer-events: all;
}

/* -------------------------------------------------------------------------- */

.ssod-post-summary .sticky {
  background-color: var(--color-mood);
  border-top: var(--space-5) solid var(--color-mood-dark);
  margin-left: calc(-1 * var(--space-6));
  margin-right: calc(-1 * var(--space-6));
  padding: var(--space-6) var(--space-6);
}

.ssod-post-summary .sticky .ssod-post-meta .avatar-wrap {
  border-left-color: var(--color-background);
  border-right-color: var(--color-background);
}

.ssod-post-summary .sticky h2 a:focus::before,
.ssod-post-summary .sticky h2 a:hover::before {
  background-color: var(--color-background);
}

/* -------------------------------------------------------------------------- */

.ssod-post-meta {
  align-items: center;
  display: grid;
  grid-template-columns: 6rem 9rem 9rem;
  grid-gap: var(--space-6);
  margin-bottom: var(--space-5);
}

.ssod-post-meta .avatar-wrap {
  border: .5rem solid transparent;
  border-left-color: var(--color-mood);
  border-radius: 50%;
  border-right-color: var(--color-mood);
}

.ssod-post-meta .avatar {
  border-radius: 50%;
  border: .5rem solid transparent;
  box-sizing: content-box;
  filter: grayscale(1);
  height: 4rem;
  width: 4rem;
}

.ssod-post-meta .meta-title {
  color: var(--color-mood-dark);
  display: block;
  font-weight: bold;
}

.ssod-post-meta .meta-value {
  display: block;
}

.singular--festival .ssod-post-meta {
  justify-content: center;
}

.singular--festival .ssod-post-meta .avatar-wrap {
  border-left-color: var(--color-festival);
  border-right-color: var(--color-festival);
}

/* -------------------------------------------------------------------------- */

.ssod-excerpt {
  font-size: 1.25rem;
  line-height: 2;
  max-width: 60rem;
}

/* -------------------------------------------------------------------------- */

.ssod-search {
  display: flex;
  border: 2px dotted hsla(var(--hsl-mood), .5);
  border-radius: 1rem;
  overflow: hidden;
}

.ssod-search:focus-within {
  border-color: var(--color-background);
}

.ssod-search_input {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  color: var(--color-background);
  padding: .3rem .75rem;
}

.ssod-search_input:focus {
  outline: none;
}

.ssod-search_input::placeholder {
  color: var(--color-background-text);
  font-weight: bold;
}

.ssod-search_input:focus::placeholder {
  color: transparent;
}

.ssod-search_submit {
  -webkit-appearance: none;
  background-color: hsla(var(--hsl-mood), .5);
  display: block;
  border: none;
  padding: .3rem .75rem;
}

.ssod-search_submit:focus {
  outline: none;
}

.ssod-search:focus-within .ssod-search_submit {
  background-color: var(--color-background);
}

/* -------------------------------------------------------------------------- */

.ssod-global-nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.ssod-global-nav li {
  display: block;
}

.ssod-global-nav a {
  border-radius: 1rem;
  color: var(--color-background);
  font-size: 1.125rem;
  margin-left: var(--space-6);
  padding: var(--space-3) var(--space-5);
  text-decoration: none;
}

.ssod-global-nav a:focus {
  background-color: var(--color-mood);
  color: var(--color-brand);
  outline: none;
}

/* -------------------------------------------------------------------------- */

.ssod-footer {
  background-color: var(--color-mood);
  margin-top: var(--space-7);
  padding: var(--space-7) 0 var(--space-5) 0;
  position: relative;
}

.ssod-footer__pi {
  bottom: 0;
  position: absolute;
  right: var(--space-2);
  text-decoration: none;
}

/* -------------------------------------------------------------------------- */

.ssod-event-banner {
  background-color: var(--color-mood);
  border-top: var(--space-4) solid var(--color-mood-dark);
  margin: calc(-1 * var(--space-5)) 0 0 0;
}

/* -------------------------------------------------------------------------- */

.ssod-event-meta {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.5rem;
  justify-content: space-between;
  padding: var(--space-6) 0;
}

.ssod-event-meta__upcoming {
  display: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.ssod-event-meta__upcoming--visible {
  display: block;
}

.ssod-event-meta__upcoming li {
  display: block;
  margin: var(--space-5) 0;
}

/* -------------------------------------------------------------------------- */

.ssod-event-map {
  border-top: var(--space-4) solid var(--color-background);
}

/* -------------------------------------------------------------------------- */

.ssod-standout-text {
  border-top: var(--space-3) solid var(--color-mood-dark);
  font-size: 1.5rem;
  margin: var(--space-6) 0 var(--space-5) 0;
  padding-top: var(--space-6);
  text-align: center;
}

/* -------------------------------------------------------------------------- */

.ssod-button-link {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  color: var(--color-brand);
  cursor: pointer;
  display: inline;
  padding: 0;
}

.ssod-button-link:focus,
.ssod-button-link:hover {
  outline: none;
  text-decoration: underline;
}

/* -------------------------------------------------------------------------- */

.ssod-view-article {
  font-weight: bold;
  padding: var(--space-3) var(--space-4);
  text-decoration: none;
  transition: all .4s;
}

.ssod-view-article:focus,
.ssod-post-summary:hover .ssod-view-article {
  background-color: var(--color-mood);
}

/* -------------------------------------------------------------------------- */

.ssod-pagination .page-numbers {
  align-items: center;
  background-color: var(--color-mood);
  display: inline-flex;
  height: var(--space-7);
  justify-content: center;
  min-width: var(--space-7);
  padding: var(--space-3) var(--space-4);
  text-decoration: none;
}

.ssod-pagination .dots {
  background-color: transparent;
}

.ssod-pagination .current {
  background-color: var(--color-mood-dark);
  color: var(--color-background-text);
}

.ssod-pagination .prev::before {
  content: '<';
  margin-right: var(--space-3);
}

.ssod-pagination .next::after {
  content: '>';
  margin-left: var(--space-3);
}
